@font-face {
    font-family: "Roboto-Variable";
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Roboto-Italic-Variable";
    src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto-Variable", "Roboto-Italic-Variable";
}

header, .s1, footer {
    background-color: #1f2937;
}

body, header, footer {
    min-width: 1600px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    font-size: 1.125em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 300px;
    padding-right: 300px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.125em;
}

body {
    display: flex;
    flex-direction: column;
}

.s1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 300px;
    padding-right: 300px;
    gap: 6em;
}

.s1-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.s1-left > h2 {
    color: #faf9f8;
    font-size: 3em;
    font-weight: 900;
}

.s1-left > p {
    color: #e5e7eb;
    font-size: 1.125em;
}

.s1-left > button {
    height: 2em;
    width: 10em;
    background-color: #3882f6;
    border-radius: 0.5em;
    border: 1px solid #3882f6;
    color: #e5e7eb;
}

.s1-right {
    display: flex;
    justify-content: flex-end;
}

.s1-right > img {
    border-radius: 1em;
    max-height: 250px;
}

.s2 {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 300px;
    padding-right: 300px;
}

.s2 > h2 {
    text-align: center;
    font-size: 2.25em;
    font-weight: 900;
    color: #1f2937;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    padding-right: 2em;
    padding-left: 2em;
}

.info-card > p {
    text-align: center;
    color: #1f2937;
    padding-top: 1em;
}

.info-card > img {
    border-radius: 1em;
    box-shadow: 0 0 10px #b8b8b8;
}

.s3 {
    background-color: #e5e7eb;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 300px;
    padding-right: 300px;
}

.s3 > blockquote {
    color: #1f2937;
    font-style: italic;
    font-size: 2.25em;
    font-weight: 300;
}

.s3 > figcaption {
    text-align: right;
    margin-right: 2em;
    color: #1f2937;
    font-weight: 700;
}

.s4 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 350px;
    padding-right: 350px;
}

.s4 > .subscribe-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-radius: 1em;
    color: #e5e7eb;
}

#cta-button {
    height: 2em;
    width: 10em;
    background-color: #e5e7eb;
    border-radius: 0.5em;
    border: 1px solid #3882f6;
    color: #1f2937;
}

footer {
    color: #e5e7eb;
    font-size: 1.125em;
    text-align: center;
    padding: 2em;
}