* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
}

.menu-options {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.q1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.studebaker {
    max-width: 40%;
    height: auto;
    margin-right: 150px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.card-image {
    max-width: 80%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 15px;
}

.q1-left {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.sub {
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    background-color: #3882f6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3882f6;
    color: #e5e7eb;
    font-size: 14px;
}

.q2 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #f9faf8;
    gap: 35px;
}

.highlights {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-left: 75px;
    margin-right: 75px;
}

.cards {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.highlight-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-text {
    color: #1f2937;
    font-size: 18px;
}

.q3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 200px;
    gap: 25px;
}

.quote {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
}

.q4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.newsletter-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 15px;
    padding: 50px;
    gap: 25px;
}

.newsletter-left {
    display: flex;
    flex-direction: column;
    color: #e3e7e3;
}

.bottom {
    background-color: #3882f6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e3e7e3;
    color: #e5e7eb;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 75px 25px 75px 25px;
}